$logo: #003874;
$secondary: #ec681b;
$logo-dot: #e74e10;
$placeholder: #999999;
$list: #003567;
$background-color: #d3d5d0;
$main: #074885;
$more: #ffd95d;

$background: url(../img/grafika-top-2.png);

$round-radius: 8px;
$list-indent-width: 30px;
$container-left-right-padding: 20vw;
