@media only screen and (max-width: 360px) {
  .cookies {
    padding: 0;
  }
  .cookies .cookies--content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cookies .cookies--content img {
    width: 50%;
  }
  .cookies .cookies--content-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cookies .cookies--content-buttons button {
    margin: 15px 0;
  }
  .submit,
  img {
    margin-top: 10px;
  }
  .logo {
    background: url(../img/grafika-top-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    font-size: 26px;
    padding: 0 10px;
  }
  .container {
    -ms-grid-rows: 40% 5%;
        grid-template-rows: 40% 5%;
  }
  .header {
    line-height: 34px;
    padding: 0 10px;
  }
  .header h1 {
    font-size: 48px;
  }
  .header p {
    font-size: 36px;
  }
  main {
    width: 100%;
    padding: 0 0%;
  }
  textarea {
    height: 27vh;
  }
  .input--flex.postal {
    width: 30vw;
  }
  .captcha {
    width: 100%;
  }
  .content {
    margin: 20px;
  }
}

@media only screen and (min-width: 361px) and (max-width: 1366px) {
  .content {
    width: 100%;
    margin: auto;
  }
  .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/1/2;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 361px) {
  .container {
    background-image: url(../img/grafika-top-2.png);
    display: -ms-grid;
    display: grid;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 361px) and (max-width: 768px) {
  .container {
    background-size: contain;
    padding: 0vw 0 10vw;
    -ms-grid-columns: (calc(100vw / 6))[6];
        grid-template-columns: repeat(6, calc(100vw / 6));
    -ms-grid-rows: 5% 95%;
        grid-template-rows: 5% 95%;
  }
  .content {
    padding-right: 0;
    max-width: 660px;
    margin: auto;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: 2/1/2/7;
  }
  .header {
    margin-left: 50%;
    width: 50vw;
  }
}

@media only screen and (min-width: 769px) {
  .header {
    width: 80%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1366px) {
  .container {
    background-size: contain;
    padding: 0vw 0 10vw;
    -ms-grid-columns: (calc(100vw / 12))[12];
        grid-template-columns: repeat(12, calc(100vw / 12));
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-area: 2/7/2/13;
  }
  .content {
    width: 100%;
    padding-right: 30px;
  }
  label {
    width: 85%;
  }
}

@media only screen and (max-width: 1367px) {
  .content {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media only screen and (min-width: 1367px) {
  .container {
    padding: 2vw 20vw 10vw;
    min-height: 100vh;
    -ms-grid-columns: (5vw)[12];
        grid-template-columns: repeat(12, 5vw);
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-area: 2/7/2/13;
  }
  .content {
    width: 570px;
  }
}
/*# sourceMappingURL=grid-media.css.map */